= form_for Message.new, url: room_messages_path(params[:id]), remote: true, id: 'new_message' do |f|
  = f.text_field :name, placeholder: 'Name'
  = f.text_field :content
  = f.submit

%ul#messages{data: {subscribe: room_subscribe_path(params[:id])}}
